
<div><h2><%= @currency.to_s %></h2></div>
<table>
  <thead>
    <td>Date</td>
    <td>Last Price</td>
    <td>Bid</td>
    <td>Ask</td>
  </thead>
  <tbody>
    <%= render partial: 'price', collection: @prices, as: 'price' %>
  </tbody>
</table>
<%= pagy_nav(@pagy).html_safe %>