<div class="section header">
  <h1 class="heading"><%= title %></h1>
  <div class="div-block-2">
    <div class="capture" onclick="window.location='/currencies/capture'">
      <div class="text-block-4">Capture</div>
    </div>

    <div class="text-block-3 bold">History</div>
    <%= render partial: 'currency_buttons', collection: @currencies, as: 'currency' %>
  </div>
</div>