<div class="top">
  <form class="capture" action="/currencies/capture" method="get">
    <input class="capture-button" type="submit" value="Capture" />
  </form>

  <form class="explain" action="/currencies/history" method="get">
    <input class="history-button" type="submit" value="History" disabled />
    <%= render partial: 'currency_buttons', collection: @currencies, as: 'currency' %>
  </form>
</div>